on:
  push:
    branches: main
  pull_request:
    branches: main

name: Build
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: actions/checkout@v4
      - name: install
        run: make install