name: Lint
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  GO_VERSION: "1.24"

jobs:
  golangci:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: actions/checkout@v4
      - name: lint
        run: make lint-all